/* search box */

#tipue_search_input {
    position: relative;
    width: 100%;
    color: #333;
    padding: 17px;
    font-size: 17px;
    border-radius:5px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.1);
    -webkit-appearance: none;
    box-shadow: none;
    background-color: #f6f6f6;
    outline: 0;
    margin-left: auto;
    margin-right: auto;
}
#tipue_search_input:hover {background-color:#fbfbfb}

#search-form input {
    text-indent: 0px;
}

#search-form .tipue_search_icon {
    position: relative;
    left: 0px;
    z-index: 200;
}

/* search results */

#tipue_search_content {
    padding-top: 15px;
    margin: 0;
}

#tipue_search_results_count {
    color: #333;
}

#tipue_search_warning {
    color: #333;
    margin: 7px 0;
}

#tipue_search_warning a {
    color: #e3e3e3;
    text-decoration: none;
}

#tipue_search_warning a:hover {
    color: #555;
}

.tipue_search_content_title {
    color: #666;
    margin-top: 21px;
}

.tipue_search_content_title a {
    text-decoration: none;
}

.tipue_search_content_title a:hover {
    color: #666;
}

.tipue_search_content_url {
    word-wrap: break-word;
    hyphens: auto;
}

.tipue_search_content_url a, .tipue_search_related_text a {
    color: #e3e3e3;
    text-decoration: none;
}

.tipue_search_content_url a:hover, .tipue_search_related_text a:hover, .tipue_search_related_before, .tipue_search_related_after {
    color: #555;
}

.tipue_search_content_text {
    color: #333;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 5px;
}

.tipue_search_content_bold {
    color: #333;
}

.tipue_search_content_debug {
    color: #333;
    margin: 5px 0;
}

.tipue_search_related_title {
    color: #333;
    margin: 26px 0 7px 0;
}

.tipue_search_related_cols {
    -webkit-columns: 230px 2;
    -moz-columns: 230px 2;
    columns: 230px 2;
}

#tipue_search_foot {
    margin: 51px 0 21px 0;
}

#tipue_search_foot_boxes {
    padding: 0;
    margin: 0;
}

#tipue_search_foot_boxes li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#tipue_search_foot_boxes li a {
    display: inline-block; 
    margin: 0 4px; 
    padding: 4px 12px;
    background-color: #fff;
    border-bottom: 4px solid #b21c1c; 
    border-radius: 4px; 
    font-size: 14px; 
    color: #fff; 
    background-color: #e20b0b;
    text-align: center;
    cursor: pointer;
}

#tipue_search_foot_boxes li.current {
    display: inline-block; 
    margin: 0 4px; 
    padding: 4px 12px;
    background-color: #fff;
    border-bottom: 4px solid #b21c1c; 
    border-radius: 4px; 
    font-size: 14px; 
    color: #fff; 
    background-color: #f21a1a;
    text-align: center;
}

#tipue_search_foot_boxes li a:hover {
    background-color: #f21a1a;
}

/* spinner */

.tipue_search_spinner {
    width: 50px;
    height: 28px;
}

.tipue_search_spinner > div {
    background-color: #e3e3e3;
    height: 100%;
    width: 2px;
    display: inline-block;
    margin-right: 2px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.tipue_search_spinner .tipue_search_rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.tipue_search_spinner .tipue_search_rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}





