doctype
html(lang=config.language)
    head
        include head
        script(src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    body
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=url_for(theme.logo) alt="logo")
                include nav
            main.container
            if page.path === "tags/index.html"
                .all-tags.tag-content
                    != tagcloud()
            else if page.path == "categories/index.html"
                .all-categories.tag-content 
                    != list_categories({show_count: false})
            else
                block container
            footer
                block pagination
                // block copyright
        include scripts
